In [2]:
from method import *
from public import *
from WindPy import w
import pandas as pd

22.11.1.52440

In [3]:

# net_value_excel_name = "20221215-固收净值.xlsx"
# unit_value_sheet = pd.read_excel(Public.readFile(net_value_excel_name), sheet_name="单位净值")
# accu_value_sheet = pd.read_excel(Public.readFile(net_value_excel_name), sheet_name="累计净值")

In [4]:
unit_value = Method.mergeSameSheet(file_name="固收净值", sheet_name="累计净值", path="Input_Data", header=[0,1], index_col=[0])

Current Files: ['20221216-固收净值.xlsx', '20221215-固收净值.xlsx']

In [5]:
history_unit_value = pd.read_excel(Public.readFile("1.单位净值历史数据.xlsx"))
code_file = pd.read_excel(Public.readFile("【代码】统一三处代码.xlsx"))

In [6]:
unit_value.iloc[:0]
code_file.index=code_file["产品名称"]
code_Mail = code_file[["产品管理人邮件"]].T # 产品管理人邮件代码
code_SZ = code_file[["金富1号"]].T # 金富1号代码

In [7]:
for index, items in enumerate(unit_value.columns.values):
    if items[1] != code_SZ.columns.values[index]:
        print("Unmatch Product: ", "三合一代码",items[0],items[1], code_SZ.columns.values[index], "Index:", index+1 )

In [8]:
for index, items in enumerate(unit_value.columns.values):
    if items[0] != code_Mail.values[0][index]:
        print("Unmatch Product: ", items[0], code_Mail.values[0][index], "Index:", index+1 )

In [9]:
unit_value.columns=code_SZ.values[0]
unit_value

,SGD165,SX1811,SGW516,GL921B,GU147A,LP883B,LT563B,N9224B,NB988A,QA116B,...,XC843A,SNE072,SQZ994,SGH608,SS5172,SXM115,SXP967,SXR443,SLW925,SLC349
2022-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-13,NaN,1.6,1.9367,1.2867,1.2036,1.0856,1.289,1.365,1.044,0.9658,...,1.0047,NaN,1.0329,28166272.59,NaN,NaN,NaN,0.9990,NaN,1.4955
2022-12-14,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,1.365,1.044,0.9573,...,1.0058,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
2022-12-16,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,1.365,1.044,0.9573,...,1.0058,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
2022-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
start_date = unit_value.index[0]
end_date = unit_value.index[-1]


w.start("username=W1457909349;password=glh346glh;sitename=NJDX", waitTime=120)

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2021 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [11]:
index_data = w.wsd("000906.SH", "close", start_date, end_date)
index_data.Times
date_pd = []
for i in index_data.Times:
    date_pd.append(pd.Timestamp(i))

In [12]:
# unit_value.insert(unit_value.shape[1], "中证800", index_data.Data[0])
index500 = pd.DataFrame(index_data.Data[0], columns=["中证800"], index=date_pd)

In [13]:

index500

                中证800
2022-12-09  4364.9232
2022-12-12  4321.8283
2022-12-13  4309.5028
2022-12-14  4312.3442
2022-12-15  4311.0010
2022-12-16  4307.5223
2022-12-19  4233.2810

In [22]:

sum_st=pd.concat([unit_value, index500], ignore_index = False)
sum_st = sum_st.groupby(sum_st.index).first() 
unit_value

,SGD165,SX1811,SGW516,GL921B,GU147A,LP883B,LT563B,N9224B,NB988A,QA116B,...,XC843A,SNE072,SQZ994,SGH608,SS5172,SXM115,SXP967,SXR443,SLW925,SLC349
2022-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-13,NaN,1.6,1.9367,1.2867,1.2036,1.0856,1.289,1.365,1.044,0.9658,...,1.0047,NaN,1.0329,28166272.59,NaN,NaN,NaN,0.9990,NaN,1.4955
2022-12-14,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,1.365,1.044,0.9573,...,1.0058,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
2022-12-16,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,1.365,1.044,0.9573,...,1.0058,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
2022-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
tem = sum_st.pop("中证800")
sum_st.insert(0, "中证800", tem)
sum_st.insert(0, "日期", sum_st.index)
sum_st.insert(0, "Unnamed: 0", sum_st.index)

In [17]:
sum_st = sum_st[sum_st["中证800"] != 0]

In [18]:
result=pd.concat([history_unit_value, sum_st], ignore_index = True)
result

,Unnamed: 0,日期,中证800,SGD165,SX1811,SGW516,GL921B,GU147A,LP883B,LT563B,...,SSN411,SXK413,SQZ994,SGH608,SS5172,SXM115,SXP967,SXR443,SLW925,SLC349
0,产品名称,NaT,指数,星汇产品,美阳产品,纽达可转债,博益安盈多策略56号B,中量投精合8号,辰钰炎丰1号B类,稳博金选500指数增强6号B,...,澜熙趋势先锋一号,知行通达金选稳达8号,翰荣中证500指数增强一号,歆享资产富诚六期,鋆杉1号,杉树瑞升7号,前海锐意锐金1期,概率金选中性1号,简雍指数增强一号,弘源中证500指数先锋
1,策略类型,NaT,NaN,量化对冲,股票多头,股票多头,量化对冲,多策略灵活配置,量化对冲,指数增强,...,股票多头,量化对冲,指数增强,量化对冲,股票多头,量化对冲,股票多头,量化对冲,指数增强,指数增强
2,2019-11-01 00:00:00,2019-11-01,4129.6369,0.983009,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019-11-04 00:00:00,2019-11-04,4154.4825,0.985799,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-11-05 00:00:00,2019-11-05,4175.8116,0.985799,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2022-12-13 00:00:00,2022-12-13,4309.5028,NaN,1.6,1.9367,1.2867,1.2036,1.0856,1.289,...,1.266,0.9814,1.0329,28166272.59,NaN,NaN,NaN,0.999,NaN,1.4955
749,2022-12-14 00:00:00,2022-12-14,4312.3442,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,...,1.272,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
750,2022-12-15 00:00:00,2022-12-15,4311.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,2022-12-16 00:00:00,2022-12-16,4307.5223,NaN,NaN,1.9259,1.2868,1.2037,1.0875,1.286,...,1.272,NaN,NaN,28166272.59,NaN,NaN,NaN,0.9989,NaN,1.4876
752,2022-12-19 00:00:00,2022-12-19,4233.281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
result.fillna("0")

,Unnamed: 0,日期,中证800,SGD165,SX1811,SGW516,GL921B,GU147A,LP883B,LT563B,...,SSN411,SXK413,SQZ994,SGH608,SS5172,SXM115,SXP967,SXR443,SLW925,SLC349
0,产品名称,0,指数,星汇产品,美阳产品,纽达可转债,博益安盈多策略56号B,中量投精合8号,辰钰炎丰1号B类,稳博金选500指数增强6号B,...,澜熙趋势先锋一号,知行通达金选稳达8号,翰荣中证500指数增强一号,歆享资产富诚六期,鋆杉1号,杉树瑞升7号,前海锐意锐金1期,概率金选中性1号,简雍指数增强一号,弘源中证500指数先锋
1,策略类型,0,0,量化对冲,股票多头,股票多头,量化对冲,多策略灵活配置,量化对冲,指数增强,...,股票多头,量化对冲,指数增强,量化对冲,股票多头,量化对冲,股票多头,量化对冲,指数增强,指数增强
2,2019-11-01 00:00:00,2019-11-01 00:00:00,4129.6369,0.983009,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019-11-04 00:00:00,2019-11-04 00:00:00,4154.4825,0.985799,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-11-05 00:00:00,2019-11-05 00:00:00,4175.8116,0.985799,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2022-12-13 00:00:00,2022-12-13 00:00:00,4309.5028,0,1.6,1.9367,1.2867,1.2036,1.0856,1.289,...,1.266,0.9814,1.0329,28166272.59,0,0,0,0.999,0,1.4955
749,2022-12-14 00:00:00,2022-12-14 00:00:00,4312.3442,0,0,1.9259,1.2868,1.2037,1.0875,1.286,...,1.272,0,0,28166272.59,0,0,0,0.9989,0,1.4876
750,2022-12-15 00:00:00,2022-12-15 00:00:00,4311.001,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
751,2022-12-16 00:00:00,2022-12-16 00:00:00,4307.5223,0,0,1.9259,1.2868,1.2037,1.0875,1.286,...,1.272,0,0,28166272.59,0,0,0,0.9989,0,1.4876
752,2022-12-19 00:00:00,2022-12-19 00:00:00,4233.281,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0